@import url('https://fonts.googleapis.com/css2?family=Nanum+Pen+Script&display=swap');
.navbar {
    z-index: 9;
    right: 0;
    left: 0;
    padding-top: 15px;
    padding-bottom: 15px;
    display: flex;
    size: 100%;
}

.dot {
    display: flex;
    opacity: 0;
    color: white;
}

.link:hover+.dot {
    opacity: 1;
    transition-duration: 700ms;
    height: 20px;
    width: 20px;
    position: relative;
    background-color: #ffcc00;
    border-radius: 50%;
    display: flex;
    margin-top: 10px;
    color: rgb(0, 0, 0);
    text-decoration: none;
    background-color: none;
    font-size: 10px;
    font-family: 'Red Hat Mono', monospace;
    line-height: 0px;
    justify-content: center;
    transform: rotateZ(90deg);
    size: 100%;
}

.internintern {
    font-family: 'Nanum Pen Script', cursive;
    font-size: 24px;
    padding-left: 110px;
    position: absolute;
    z-index: index 3;
    top: 65px;
    transform: rotatex(40deg);
    transform: rotatez(-10deg);
    size: 100%;
}

.navbar-types {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    border: 1px solid #ffffff;
    background-color: #ffffff;
    z-index: 1;
    display: flex;
    left: 37%;
    margin-top: 20px;
    font-size: 20px;
    color: black;
    padding-right: 400px;
    position: absolute;
    size: 100%;
}

li {
    float: left;
    z-index: 4;
    font-family: 'Fredoka One', cursive;
    color: black;
    size: 100%;
}

li a {
    display: block;
    color: #666;
    text-align: center;
    padding: 10px 30px;
    text-decoration: none;
    z-index: 4;
    color: rgb(80, 80, 80);
    size: 100%;
}

a:hover {
    transition: 700ms;
    color: black
}

.navbar-logo2 {
    display: block;
    position: absolute;
    right: 1%;
    z-index: 2;
    top: 0.8%;
    size: 100%;
}

.homeimage {
    margin: 0px;
    position: fixed;
    left: 0%;
    display: flex;
    z-index: 10;
    width: 100vw;
    size: 100%;
}

.reserveer-nu {
    width: 250px;
    height: 50px;
    background: #ffffff;
    border-radius: 40px;
    position: absolute;
    left: 620px;
    top: 70%;
    z-index: 10;
    color: rgb(0, 0, 0);
    text-decoration: none;
    background-color: none;
    font-size: 18px;
    font-family: 'Oswald', sans-serif;
    line-height: 0px;
    text-align: center;
    size: 100%;
}

.knop1 {
    color: inherit;
}

.knop1:link {
    text-decoration: none;
}

.knop1:visited {
    text-decoration: none;
}

.knop1:hover {
    text-decoration: none;
    color: white;
    transition-duration: 400ms;
}

.knop1:active {
    text-decoration: none;
}

.reserveer-nu:hover {
    background: black;
    color: white;
    transition-duration: 400ms;
    cursor: pointer;
}

.blokken1 {
    width: 350px;
    height: 250px;
    background: #ffffff;
    border-radius: 40px;
    position: absolute;
    left: 60px;
    top: 64%;
    z-index: 10;
    border-style: solid;
    border-color: rgb(95, 95, 95);
    border-width: 1px;
    size: 100%;
}

.blokken2 {
    width: 350px;
    height: 250px;
    background: #ffffff;
    border-radius: 40px;
    position: absolute;
    left: 570px;
    top: 64%;
    z-index: 10;
    border-style: solid;
    border-color: rgb(95, 95, 95);
    border-width: 1px;
    size: 100%;
}

.blokken3 {
    width: 350px;
    height: 250px;
    background: #ffffff;
    border-radius: 40px;
    position: absolute;
    left: 1060px;
    top: 64%;
    z-index: 10;
    border-style: solid;
    border-color: rgb(95, 95, 95);
    border-width: 1px;
    size: 100%;
}

.reservereninfo1 {
    color: black;
    font-family: 'Public Sans', sans-serif;
    z-index: 11;
    left: 74px;
    top: 66%;
    font-size: 18px;
    position: absolute;
    max-width: 160px;
    size: 100%;
}

.reservereninfo2 {
    font-family: 'Public Sans', sans-serif;
    color: black;
    z-index: 11;
    left: 74px;
    top: 74%;
    font-size: 18px;
    position: absolute;
    max-width: 130px;
    size: 100%;
}

.reservereninfoplaatje {
    z-index: 11;
    left: 224px;
    top: 74%;
    position: absolute;
    size: 100%;
}

.reservereninfo3 {
    color: black;
    font-family: 'Public Sans', sans-serif;
    z-index: 11;
    left: 46%;
    top: 66%;
    font-size: 18px;
    position: absolute;
    max-width: 160px;
    size: 100%;
}

.reservereninfo4 {
    font-family: 'Public Sans', sans-serif;
    color: black;
    z-index: 11;
    left: 45%;
    top: 74%;
    background-color: none;
    font-size: 18px;
    position: absolute;
    max-width: 130px;
    size: 100%;
    text-align: center;
}

.knop2 {
    color: inherit;
    z-index: 10;
}

.knop2:link {
    text-decoration: none;
}

.knop1:visited {
    text-decoration: none;
}

.knop2:hover {
    text-decoration: none;
}

.knop2:active {
    text-decoration: none;
}

.button4 {
    width: 125px;
    height: 25px;
    background: #ffcc00;
    border-radius: 40px;
    position: absolute;
    left: 45%;
    top: 83%;
    z-index: 10;
    cursor: pointer;
    color: black;
    text-align: center;
}

.button4:hover {
    color: white;
    transition-duration: 400ms;
}

.button5 {
    color: inherit;
    z-index: 10;
    position: absolute;
    left: 48.5%;
    top: 83.5%;
}

.button5:link {
    text-decoration: none;
}

.button5:visited {
    text-decoration: none;
}

.button5:hover {
    text-decoration: none;
    color: white;
    transition-duration: 400ms;
}

.button5:active {
    text-decoration: none;
}

.reservereninfo5 {
    color: black;
    font-family: 'Public Sans', sans-serif;
    z-index: 11;
    left: 72%;
    top: 66%;
    font-size: 18px;
    position: absolute;
    max-width: 190px;
    size: 100%;
}

.reservereninfo6 {
    font-family: 'Public Sans', sans-serif;
    color: black;
    z-index: 11;
    left: 72%;
    top: 73%;
    background-color: none;
    font-size: 18px;
    position: absolute;
    max-width: 130px;
    size: 100%;
    text-align: left;
}

.reservereninfo6plaatje {
    z-index: 11;
    left: 78%;
    top: 75.5%;
    position: absolute;
}